/* src/EventDetail.css */
.event-detail {
    margin: 40px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .event-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #FF3F3F;
  }
  
  .author-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-details {
    display: flex;
    flex-direction: column;
    color: #ff004c;
  }
  
  .author-details h3.event-subtitle {
    margin: 5px 0;
    font-size: 0.9em;
    color: black;
  }
  
  .event-header p {
    margin: 5px 0;
  }
  
  .event-date {
    color: #0a0a0a;
    font-weight: bold;
  }
  
  .date-time-widget {
    align-self: center; /* Добавлено для центрирования только DateTimeWidget */
  }
  