/* src/Events.css */
.events {
    margin-bottom: 40px;
  }
  
  .events h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .event-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    position: relative;
    text-align: center;
  }
  
  .event-card img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  .event-card .author {
    color: red;
  }
  
  .details-link {
    color: #FF3F3F;
    cursor: pointer;
    text-decoration: none;
  }
  
  .details-link:hover {
    text-decoration: underline;
  }

  .add-event-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  